/* Home page */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

p {
  margin: 0;
}

.home-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1280px;
  height: 720px;
  box-sizing: border-box;
  background-color: rgba(204, 204, 204, 1);
}
.group-49 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 269px;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(40, 51, 66, 1);
  mix-blend-mode: multiply;
}
.group-1310 {
  position: absolute;
  top: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 338px;
  box-sizing: border-box;
}
.rectangle-39 {
  width: 100%;
  height: 46px;
}

.group-531 {
  position: relative;
  width: 256px;
  height: 46px;
  box-sizing: border-box;
  background-color: rgba(40, 51, 66, 1);
}
.group {
  position: absolute;
  top: 16px;
  left: 24px;
  width: 14px;
  height: 14px;
}

.find-agencies {
  position: absolute;
  top: 28.26%;
  bottom: 41.3%;
  left: 19.53%;
  right: 41.96%;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.group-6 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: fit-content;
  padding: 13px 165px 19px 24px;
  box-sizing: border-box;
  background-color: rgba(40, 51, 66, 1);
}
.group-2 {
  width: 14px;
  height: 7.64px;
}

.alerts {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.group-10 {
  position: relative;
  width: 256px;
  height: 46px;
  box-sizing: border-box;
  background-color: rgba(40, 51, 66, 1);
}
.contact-us {
  position: absolute;
  top: 28.26%;
  bottom: 41.3%;
  left: 19.53%;
  right: 49.71%;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.vector {
  position: absolute;
  top: 34.78%;
  bottom: 34.78%;
  left: 9.38%;
  right: 85.16%;
  width: 14px;
  height: 14px;
}

.line-5 {
  width: 256px;
  height: 0.2px;
  border: 0.2px solid rgba(255, 255, 255, 1);
}

.group-9 {
  position: relative;
  width: 256px;
  height: 46px;
  box-sizing: border-box;
  background-color: rgba(24, 102, 214, 1);
}
.chat-with-agencies {
  position: absolute;
  top: 28.26%;
  bottom: 41.3%;
  left: 19.53%;
  right: 26.78%;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.vector-1 {
  position: absolute;
  top: 34.78%;
  bottom: 34.78%;
  left: 9.38%;
  right: 85.16%;
  width: 14px;
  height: 14px;
}

.group-35 {
  position: relative;
  width: 256px;
  height: 46px;
  box-sizing: border-box;
  background-color: rgba(40, 51, 66, 1);
}
.support {
  position: absolute;
  top: 28.26%;
  bottom: 41.3%;
  left: 19.53%;
  right: 58.28%;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.vector-2 {
  position: absolute;
  top: 34.78%;
  bottom: 34.78%;
  left: 9.38%;
  right: 85.16%;
  width: 14px;
  height: 14px;
}

.home {
  position: absolute;
  top: 12.36%;
  bottom: 85.69%;
  left: 19.7%;
  right: 64.53%;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.contact-us-1 {
  position: absolute;
  top: 37.36%;
  bottom: 60.69%;
  left: 4.45%;
  right: 89.4%;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.group-654 {
  position: absolute;
  top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 466.84px;
  height: 385px;
  box-sizing: border-box;
}
.chat-with-agencies-1 {
  color: rgba(0, 0, 0, 1);
  font-size: 47px;
  line-height: 47px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.rectangle-391 {
  width: 408px;
  height: 74px;
}

.chat-with-agencies-2 {
  position: absolute;
  top: 51.11%;
  bottom: 44.03%;
  left: 44.22%;
  right: 28.07%;
  color: rgba(255, 255, 255, 1);
  font-size: 35px;
  line-height: 35px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}